<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page</title>
    <link rel="icon" href="#" type="image/png" />
    <link rel="stylesheet" href="src/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="src/css/style.css" />
  </head>

  <body id="login-page">
    <!-- MAIN AREA -->
    <section class="main-area">
      <div class="form-card">
       <div class="form-main">
        <h3>Login to Site</h3>
        <button id="login-twitter"><i class="fab fa-twitter"></i> Continue with Twitter</button>
        <button id="login-google"><i class="fab fa-google"></i> Continue with Google</button>
        <span id="or">OR</span>
        <form action="#" id="login-form">
          <input name="user-email" type="text" placeholder="Email">
          <input name="user-password" type="password" placeholder="Password">
          <input type="submit" value="Login">
        </form>
        <a id="forgot-password" href="#">Forgot password?</a>
       </div>
       <div class="create-account">
         <p>Not have a account? <a id="join" href="#">Join Now</a></p>
       </div>
      </div>
    </section>
    <!-- MAIN AREA END-->

    <script src="src/js/main.js"></script>
  </body>
</html>
