<div class="example-container">
    <mat-card>
        <!-- Title of an Card -->
        <mat-card-title>Sign up</mat-card-title>

        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Enter your email"
                        formControlName="email"
                        required
                    >
                    <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Enter your password"
                        formControlName="password"
                        required
                        type="password"
                    >
                    <mat-error *ngIf="form.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Confirm password"
                        formControlName="confirm"
                        required
                        type="password"
                    >
                    <mat-error *ngIf="form.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
                <button
                    mat-button
                    value="value"
                    [disabled]="form.invalid"
                >
                    Sign up
                </button>
            </form>
        </mat-card-content>

    </mat-card>

</div>
